@charset "utf-8";

// 共通スタイル
.container {
  width: 820px;
  margin: 0px auto;
}

#main-visual {
  position: relative;

  .slider {
    position: relative;
  }
  // dividerのcss
  .custom-shape-divider-bottom-1664072672 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1664072672 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
  }

  .custom-shape-divider-bottom-1664072672 .shape-fill {
    fill: #f6f6f6;
  }
  // ここまで(dvider)

  // bxSlider_style
  .bx-wrapper {
    background-color: transparent;
    margin: 0px auto;
    border: none;
    box-shadow: none;

    img {
      display: block;
      margin: 0px auto;
    }

    .bx-pager {
      display: none;
    }

    .bx-prev,
    .bx-next {
      display: none;
    }
  }
  //ここまで(bxSlider)

  header {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 85%;
    height: 122px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      img {
        height: 72px;
        width: 266px;
      }
    }

    .header-list {
      display: flex;
      gap: 45px;

      li {
        color: #fff;
        font-size: 14px;
        font-family: "Gill Sans Std Book", sans-serif;
        letter-spacing: 1.5px;
      }
    }
  }
}

#concept {
  padding: 110px 0;
  background-color: #f6f6f6;
  color: #13191b;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
    sans-serif;

  .sentence {
    margin: 0 auto;
    max-width: 370px;

    h1 {
      font-size: 44px;
      text-align: center;
      letter-spacing: 1.5px;
      margin-bottom: 60px;
    }

    p {
      font-size: 20px;
      line-height: 34px;
      padding: 10px 0;
    }

    .concept-logo {
      margin: 10px auto;
      text-align: center;

      img {
        width: 211px;
        height: 54px;
      }
    }
  }
}
