@charset "utf-8";

// 共通スタイル
.container {
  width: 820px;
  margin: 0px auto;
}

@mixin heading-font($value: 30px) {
  font-family: "Gill Sans", "Gill Sans Std Book", sans-serif;
  font-size: $value;
  letter-spacing: 1.5px;
}

@mixin article-font($value: 20px) {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
    sans-serif;
  font-size: $value;
}

@mixin heading-underline {
  h2 {
    &:after {
      content: "";
      display: block;
      background-image: url("../img/09_heading_underline.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 68px;
      height: 8px;
      margin-top: 10px;
    }
  }
}

@mixin heading-btn {
  .btn {
    font-size: 14px;
    border: 1px solid #13191b;
    width: 162px;
    height: 46px;
    line-height: 46px;
    text-align: right;
    box-sizing: border-box;

    a {
      display: block;

      span {
        padding: 0 10px 0 35px;
        font-size: 12px;
      }

      &:hover {
        background-color: #13191b;
        color: #fff;
        transition-duration: 0.5s;
      }
    }
  }
}
// ここまで(共通style)

#main-visual {
  position: relative;
  height: 900pxs;

  .btn-to-bottom {
    position: absolute;
    bottom: 7.5%;
    left: 50%;

    img {
      width: 22.5px;
      height: auto;
    }
  }

  .slider {
    position: relative;
  }
  // dividerのcss
  .custom-shape-divider-bottom-1664072672 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1664072672 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
  }

  .custom-shape-divider-bottom-1664072672 .shape-fill {
    fill: #f6f6f6;
  }
  // ここまで(dvider)

  // bxSlider_style
  .bx-wrapper {
    background-color: transparent;
    margin: 0px auto;
    border: none;
    box-shadow: none;

    img {
      display: block;
      margin: 0px auto;
    }

    .bx-pager {
      display: none;
    }

    .bx-prev,
    .bx-next {
      display: none;
    }
  }
  //ここまで(bxSlider)

  header {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 85%;
    height: 122px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      img {
        height: 72px;
        width: 266px;
      }
    }

    .header-list {
      display: flex;
      gap: 45px;

      li {
        color: #fff;
        @include heading-font(14px);
        border-bottom: 2px solid transparent;
        padding-bottom: 7.5px;

        &:hover {
          border-bottom: 2px solid #fff;
          transition: 0.75s;
        }
      }
    }
  }
}

#concept {
  padding: 110px 0;
  background-color: #f6f6f6;
  color: #13191b;
  @include article-font;

  .sentence {
    margin: 0 auto;
    max-width: 370px;

    h1 {
      font-size: 44px;
      text-align: center;
      letter-spacing: 1.5px;
      margin-bottom: 60px;
    }

    p {
      line-height: 34px;
      padding: 10px 0;
    }

    .concept-logo {
      margin: 10px auto;
      text-align: center;

      img {
        width: 211px;
        height: 54px;
      }
    }
  }
}

#product {
  padding: 110px 0;

  .heading {
    display: flex;
    justify-content: space-between;
    @include heading-font;
    @include heading-underline;

    @include heading-btn;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 75px;

    article {
      width: calc(100% / 3);

      a {
        width: 250px;
        height: auto;
        display: block;

        img {
          width: 100%;
          height: auto;
        }

        h2 {
          @include article-font;
          color: #13191b;
        }
      }
    }
  }
}
