@charset "UTF-8";
.container {
  width: 820px;
  margin: 0px auto;
}

#main-visual {
  position: relative;
  height: 900pxs;
}
#main-visual .btn-to-bottom {
  position: absolute;
  bottom: 7.5%;
  left: 50%;
}
#main-visual .btn-to-bottom img {
  width: 22.5px;
  height: auto;
}
#main-visual .slider {
  position: relative;
}
#main-visual .custom-shape-divider-bottom-1664072672 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
#main-visual .custom-shape-divider-bottom-1664072672 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
}
#main-visual .custom-shape-divider-bottom-1664072672 .shape-fill {
  fill: #f6f6f6;
}
#main-visual .bx-wrapper {
  background-color: transparent;
  margin: 0px auto;
  border: none;
  box-shadow: none;
}
#main-visual .bx-wrapper img {
  display: block;
  margin: 0px auto;
}
#main-visual .bx-wrapper .bx-pager {
  display: none;
}
#main-visual .bx-wrapper .bx-prev,
#main-visual .bx-wrapper .bx-next {
  display: none;
}
#main-visual header {
  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 85%;
  height: 122px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-visual header .header-logo img {
  height: 72px;
  width: 266px;
}
#main-visual header .header-list {
  display: flex;
  gap: 45px;
}
#main-visual header .header-list li {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans Std Book", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  border-bottom: 2px solid transparent;
  padding-bottom: 7.5px;
}
#main-visual header .header-list li:hover {
  border-bottom: 2px solid #fff;
  transition: 0.75s;
}

#concept {
  padding: 110px 0;
  background-color: #f6f6f6;
  color: #13191b;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 20px;
}
#concept .sentence {
  margin: 0 auto;
  max-width: 370px;
}
#concept .sentence h1 {
  font-size: 44px;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 60px;
}
#concept .sentence p {
  line-height: 34px;
  padding: 10px 0;
}
#concept .sentence .concept-logo {
  margin: 10px auto;
  text-align: center;
}
#concept .sentence .concept-logo img {
  width: 211px;
  height: 54px;
}

#product {
  padding: 110px 0;
}
#product .heading {
  display: flex;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans Std Book", sans-serif;
  font-size: 30px;
  letter-spacing: 1.5px;
}
#product .heading h2:after {
  content: "";
  display: block;
  background-image: url("../img/09_heading_underline.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 68px;
  height: 8px;
  margin-top: 10px;
}
#product .heading .btn {
  font-size: 14px;
  border: 1px solid #13191b;
  width: 162px;
  height: 46px;
  line-height: 46px;
  text-align: right;
  box-sizing: border-box;
}
#product .heading .btn a {
  display: block;
}
#product .heading .btn a span {
  padding: 0 10px 0 35px;
  font-size: 12px;
}
#product .heading .btn a:hover {
  background-color: #13191b;
  color: #fff;
  transition-duration: 0.5s;
}
#product .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#product .product-list article {
  width: 33.3333333333%;
  margin-top: 60px;
}
#product .product-list article a {
  width: 250px;
  height: auto;
  display: block;
}
#product .product-list article a img {
  width: 100%;
  height: auto;
}
#product .product-list article a h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 20px;
  color: #13191b;
  margin: 20px 0 0 0;
  padding: 0 20px;
  font-weight: bold;
  letter-spacing: 2.5px;
  line-height: 35px;
}

#news {
  padding: 110px 0;
  background-color: #f6f6f6;
}
#news .heading {
  display: flex;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans Std Book", sans-serif;
  font-size: 30px;
  letter-spacing: 1.5px;
}
#news .heading h2:after {
  content: "";
  display: block;
  background-image: url("../img/09_heading_underline.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 68px;
  height: 8px;
  margin-top: 10px;
}
#news .heading .btn {
  font-size: 14px;
  border: 1px solid #13191b;
  width: 162px;
  height: 46px;
  line-height: 46px;
  text-align: right;
  box-sizing: border-box;
}
#news .heading .btn a {
  display: block;
}
#news .heading .btn a span {
  padding: 0 10px 0 35px;
  font-size: 12px;
}
#news .heading .btn a:hover {
  background-color: #13191b;
  color: #fff;
  transition-duration: 0.5s;
}
#news .news-list {
  margin-top: 80px;
}
#news .news-list article {
  margin-top: 60px;
}
#news .news-list article a {
  display: flex;
  gap: 30px;
}
#news .news-list article a img {
  width: 322.5px;
  height: auto;
}
#news .news-list article a h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 30px;
}
#news .news-list article a p {
  color: #656c6e;
}
#news .news-list article a p:nth-of-type(1) {
  font-family: "Gill Sans", "Gill Sans Std Book", sans-serif;
  font-size: 12px;
  letter-spacing: 1.5px;
  padding: 5px 0 20px 0;
}
#news .news-list article a p:nth-of-type(2) {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 13px;
  letter-spacing: 0.75px;
  line-height: 20px;
}/*# sourceMappingURL=style.css.map */